name: CI TalentoTech
on:
    push: 
        branches: [main,develop]
    pull_request:
        branches: [main,develop]
jobs:
    test:
        runs-on: ubuntu-latest
        env: # variables de entorno
            PYTHON_VERSION: '3.12'
            PIP_CACHE: ~/.cache/pip 
        
        steps:
            # 1. Checkout
            - name: Checkout codigo
              uses: actions/checkout@v4 
            
            # 2. Cache del pip
            - name: Cache dependencia
              uses: actions/cache@v4
              with:
                path: ${{ env.PIP_CACHE }}
                key: ${{ runner.os }}-pip-${{ hashFiles('**requirements.txt') }}
            
            # 3. Setup de python
            - name: Instalar python ${{ env.PYTHON_VERSION }}
              uses: actions/setup-python@v5
              with:
                python-version: ${{ env.PYTHON_VERSION }}
            
            # 4. Instalar dependencias
            - name: Instalar dependencias
              run: pip install -r requirements.txt
            
            # 5. Ejecutar Tests
            - name: Run tests
              run: python3 run_tests.py

            # 6. Subir artefactos (reporte + imagenes + logs)
            - name: Subir HTML report
              uses: actions/upload-artifacts@v4
              with:
                name: html-report
                path: reports/

            - name: Subir Suite logs
              uses: actions/upload-artifacts@v4
              with:
                name: suite-logs
                path: logs/